.spinner_block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 199.5px);
}

@media screen and (min-width: 700px) {
  .spinner_block {
    height: calc(100vh - 105px);
  }
}