#container {
  display: flex;
  height: 200px;
  align-items: center;
  margin-top: 50px !important;
  justify-content: space-evenly;
}

#container > .row {
  width: 98%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 5px;
  background-color:#ffecec75;
  justify-content: space-between;
  border-left: 5px solid #ff597dd8;
}

#container > .row > .column {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#container > .row > .img_column {
  height: 100%;
}

#container > .row > .column:nth-child(2) {
  width: 60% !important;
  margin-top: 0 !important;
  align-items: flex-start;
}

@media screen and (min-width: 700px) {
  #container > .row > .column:nth-child(2) {
    position: relative;
    left: -170px;
    margin-top: .7rem !important;
  }
}


#container > .row > .column > p {
  font-size: 17px;
  line-height: 2rem;
  margin: .5rem 0 !important;
}

#container > .row > .column > h1 {
  font-size: 28px;
  color: #ff597dd8;
}

#container > .row > .column > h3 {
  font-size: 25px;
}

#container > .row > .column > h1,
#container > .row > .column > h3 {
  margin: 0 !important;
  margin: .5rem;
}

.catSite_section {
  display: flex;
  font-size: 15px;
  color: #313131;
  font-weight: 600;
  align-items: center;
}

.catSite_section p:first-child::after {
  content: '|';
  width: 10px;
  margin: 0 .5rem;
  color: #0000006c;
}